.hero {
    background-image: url("../img/desktop-home-hero-bg@2x.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
    margin-bottom: 40px;

    &__content {
        background-color: rgba(255, 255, 255, .9);
        width: 551px;
        height: 325px;
        padding: 40px;
        position: relative;
        top: 10px;
        left: 50%;
    }

    &__title {
        padding: 0;
        margin: 0;
        color: $text-primary;
        font-size: 36px;
        line-height: 1;
        font-weight: normal;
        margin-bottom: 20px;
    }

    &__subtitle {
        color: $text-primary;
        font-size: 20px;
        line-height: 22px;
        margin-top: 0;
        margin-bottom: 20px;
    }

    &__button {
        margin-bottom: 20px;
    }

    &__text {
        color: $text-primary;
        font-size: 16px;
        line-height: 24px;

        a {
            color: #2B7E93;
            text-decoration: none;
        }

    }
}